@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.barra-pesquisa {
    margin-top: 22px;
}

.form-group-text h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.form-group-text {
    display: flex;
    flex-direction: column;
    margin-inline-start: 20px;
    transform: scale(0.8);
    margin-bottom: -70px;
}

.phrase {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 84px;
    text-align: left; /* Centralizar o texto horizontalmente */
}

.tx1{
    color: #202020;
}

.tx2 {
    color: #FC8019;
    white-space: pre-line;
}
.tx3 {
    color: #202020;
}
.tx4 {
    color: #FC8019;
    white-space: pre-line;
}
.tx5 {
    color: #FC8019;
}

.ptext {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #404040;
    margin-inline-start: 20px;
    transform: scale(0.8);
    padding-bottom: 30px;
}

.homep-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    margin-right: 100px;
}
  
/* Media query para largura de até 600px */
@media (max-width: 600px) {
    .ptext {
        font-weight: 200;
        font-size: 13px;
        line-height: 14px; /* Reduzindo ainda mais o espaço vertical entre as linhas */
        margin-inline-start: 20px;
    }

    .form-group-text {
        flex-direction: column; 
        align-items: center; /* Centralizar verticalmente */
        text-align: center; /* Centralizar o texto horizontalmente */
        margin-bottom: 0%;
    }

    .form-group-text h1 {
        font-weight: 200;
        font-size: 54px;
        line-height: 60px; /* Reduzindo o espaço vertical entre as linhas */
        margin: 0; /* Removendo margem padrão dos h1 */
        padding-inline-start: 10px;
    }

    .homep-header {
        gap: 100px;
        margin-right: 0%;
    }

    .barra-pesquisa {
        margin-bottom: 22px;
    }
    
    .phrase {
        text-align: center; /* Centralizar o texto horizontalmente */
    }
}