@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.logo {
    margin-right: 8px;
}

.logo-logo a {
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin-top: 3px;
    margin-inline-start: 100px;
    text-decoration: none;
}

.logo-logo a:visited {
    color: #202020;
}

/* Media query para largura de até 600px */
@media (max-width: 600px) {    
    .logo-logo {
        margin-bottom: 10px;
        margin-inline-start: 0%;
    }
}