@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s; /* Adicione transições para um efeito suave */
}

.card:hover {
    transform: scale(1.05); /* Aumenta um pouco o tamanho */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aumenta a sombra */
}

.card-with-bg {
    background-color: #F8F8F8; /* Fundo dentro do card */
}

.card-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
  
.card-name {
    font-family: 'Poppins', sans-serif;
    color: #202020;
    font-size: 1.2rem;
    margin-top: 10px;
}

.card-location {
    font-family: 'Poppins', sans-serif;
    color: #808080;
    flex-grow: 1;
    font-size: 14px;
}

.card-rating {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    color: #202020;
    margin-left: 10px;
    margin-top: 15px;
}

.card-deliveryt {
    font-family: 'Poppins', sans-serif;
    color: #202020;
    text-align: center;
}

.star-icon {
    fill: #00b300; /* Cor do ícone de estrela */
    width: 16px; 
    height: 16px;
    margin-right: 5px; 
}

.get-card {
    margin-right: 10px;
}

.card-image {
    width: 100%; 
}

/* Media query para largura de até 600px */
@media (max-width: 600px) {
    .card {
        width: 150px;
    }

    .card-image {
        width: 90%; 
        margin-left: 8px;
    }
}