@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.footer-footer {
    font-family: 'Poppins', sans-serif;
    background-color: #FC8019;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding: 10px 0;
}

.logo-white {
    margin-right: 8px;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 18px;
    height: 18px;
}
  
.footer-logo h2 {
    font-size: 18px;
    margin: 0;
}

.nav-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px;
}

.lista-footer {
    display: flex; 
    list-style: none;
    margin-top: 20px;
    justify-content: center;
}

.lista-footer li {
    margin-right: 35px;
}

.lista-footer li a {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 300;
    margin-top: 10px;
    font-size: 14px;
    line-height: 15px;
}

.container-social {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto; /* Centraliza na tela */
    padding-inline-start: inherit; /* Direção texto */
}

.social {
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.social img {
    width: 14px;
    height: 14px;
    margin: 0 6px;
}

.contact-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-text {
    font-size: 14px;
    display: flex; 
    align-items: center;
}

.contact-number {
    font-weight: bold; 
    display: flex; 
    align-items: center;
    padding-left: 8px;
    font-size: 14px;
    text-align: right;
    min-width: fit-content; /* Largura min */
}

/* Media query para largura de até 600px */
@media (max-width: 600px) {
    .nav-footer {
        padding: 8px; /* Espaçamento interno menor */
    }

    .lista-footer {
        margin-top: 10px;
    }

    .lista-footer li a {
        display: inline-grid;
        font-size: 10px;
    }

    .contact-footer {
        flex-direction: column;
        padding-top: initial;
    }

    .contact-text {
        font-size: 10px;
        margin-top: 20px;
    }

    .contact-number {
        font-size: 10px;
        margin: 0 5px;
    }

    .footer-logo {
        padding-inline-start: 5px;
        margin-right: 8px;
    }
}