@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.logo {
    margin-right: 8px;
}

.login-header {
    font-family: 'Poppins', sans-serif;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 70px;
    padding: 0 70px; /* Preenchimento de ambos os lados */
}

.login-logo {
    display: flex;
}
  
.login-text {
    border-bottom: 1px solid #808080;
    width: 100%;
    display: flex;
    margin-bottom: 40px;
}

.login-container p {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #202020;
}

/* Define um tamanho mínimo para a altura da tela inteira */
html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
 
.login-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #202020;
    min-height: 70vh; /* Tamanho do onteúdo tela  */
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}
  
.form-group label {
    font-weight: 500;
    margin-bottom: 5px;
}

.login-container input,
.login-button {
    margin-bottom: 10px;
}

.login-container input {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 8px;
    border: 1px dashed #FC8019; /* Borda tracejada */
    line-height: 1.5;
    border-radius: 4px;
    margin-top: 5px; 
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.login-button {
    font-family: 'Poppins', sans-serif;
    background-color: #FC8019;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    padding: 6px;
    width: 150px; 
}

.register-link {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.register-link p {
    margin-right: 4px;
}

.register-link a {
    color: #000000; 
    font-weight: bold;
    text-decoration: none; 
}

.footer-login {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #FC8019;
    color: #FFFFFF;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.logo-white {
    margin-right: 8px;
}

.footer-logo img {
    width: 18px;
    height: 18px;
}
  
.footer-logo h2 {
    font-size: 18px;
    margin: 0;
}

.nav-footer {
    display: flex;
    padding: 80px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.lista-footer {
    display: flex; /* Itens mais dispostos */
    list-style: none;
    margin-top: 20px;
    justify-content: center;
}

.lista-footer li {
    margin-right: 35px; /* Espaçamento da lista */
}

.lista-footer li a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 10px;
}

.container-social {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto; /* Centraliza na tela */
    padding-inline-start: inherit; /* Direção texto */
}

.lista-footer li a {
    font-size: 14px;
    line-height: 15px;
}

.contact-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-text {
    display: flex; 
    align-items: center;
    font-size: 14px;
}

.contact-number {
    font-weight: bold; 
    display: flex; 
    align-items: center;
    padding-left: 8px;
    font-size: 14px;
    text-align: right;
    min-width: fit-content;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
}

.social img {
    width: 14px;
    height: 14px;
    margin: 0 6px;
}

/* Media query para largura de até 600px */
@media (max-width: 600px) {
    .nav-footer {
        padding: 8px; /* Espaçamento interno menor */
    }

    .lista-footer {
        margin-top: 10px;
    }

    .lista-footer li a {
        font-size: 10px;
        line-height: 15px;
    }

    .contact-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .contact-text {
        display: flex; 
        font-size: 10px;
    }

    .contact-number {
        font-weight: bold; 
        display: flex; 
        align-items: center;
        padding-left: 8px;
        font-size: 10px;
        text-align: right;
        min-width: fit-content;
    }
}