@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.logo {
    margin-right: 8px;
}

.login-header {
    font-family: 'Poppins', sans-serif;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 70px; /* Margem de cima e de ambos os lados */
    padding: 0 70px; /* Preenchimento de ambos os lados */
}

.login-logo {
    display: flex;
}
  
.login-text {
    border-bottom: 1px solid #808080;
    width: 100%;
    display: flex;
    margin-bottom: 40px;
}

.login-container p{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #202020;
}

.login-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #202020;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}
  
.form-group label {
    font-weight: 500;
    margin-bottom: 5px;
}

.login-container input,
.login-button {
    margin-bottom: 10px;
}

.login-container input {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 8px;
    border: 1px dashed #FC8019; /* Borda tracejada */
    line-height: 1.5;
    border-radius: 4px;
    margin-top: 5px; 
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.login-button {
    font-family: 'Poppins', sans-serif;
    background-color: #FC8019;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    padding: 6px;
    width: 150px; 
}

.register-link {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.register-link p {
    margin-right: 4px;
}

.register-link a {
    color: #000000; 
    font-weight: bold;
    text-decoration: none; 
}

.footer-login {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #FC8019;
    color: #FFFFFF;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.logo-white {
    margin-right: 8px;
}

.footer-logo img {
    width: 18px;
    height: 18px;
}
  
.footer-logo h2 {
    font-size: 18px;
    margin: 0;
}